/* Configurações Globais */
body {
    font-family: 'Georgia', serif;
    color: #444;
    background: #f9f9f9;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* Main Container */
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2em 1em;
    text-align: center;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Title */
h1 {
    font-size: 2.5em;
    color: #2a4d69;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    word-wrap: break-word;
}

/* Chapter List Styles */
.chapter-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chapter-list li {
    margin-bottom: 1em;
    padding: 15px;
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
}

/* Link Style in Chapter List */
.chapter-list li a {
    color: #2a4d69;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    font-weight: bold;
}

/* Highlight for Last Read Chapter */
.chapter-list li.highlight {
    background-color: #f0f8ff; /* Azul claro para destacar */
    border-color: #80d4ff;
    font-weight: bold;
    color: #1b4d70; /* Cor do texto para maior contraste */
    box-shadow: 0 4px 10px rgba(0, 96, 160, 0.2); /* Sombra azul para destacar */
}

/* Hover Effect */
.chapter-list li:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 15px rgba(0, 0, 128, 0.15); /* Sombra azul ao passar o mouse */
    background-color: #f0f8ff; /* Azul claro ao passar o mouse */
}

/* Back Button */
.back-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #2a4d69;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    line-height: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.back-button:hover {
    background-color: #355c7d;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 128, 0.2);
}

/* Responsive Styles */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    .chapter-list li {
        padding: 15px;
        font-size: 1.1em;
    }

    .back-button {
        width: 90%;
        line-height: 50px;
    }
}

/* Additional Styles */
.chapter {
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

/* Highlight for Chapters */
.chapter-list li.highlight {
    background-color: #f0f8ff; /* Azul suave para destacar */
    border: 1px solid #80d4ff;
    box-shadow: 0 4px 10px rgba(0, 128, 192, 0.15); /* Sombra azul suave */
    font-weight: bold;
}
